In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Can't import the src package without these lines
import sys
sys.path.append("..")

In [4]:
from src.d01_data.db import get_sqlalchemy_engine

conn = get_sqlalchemy_engine()

# 1

General information for a study, known the study number:

In [5]:
query = """
select * 
from dm_spain_view_study_summary
where studyidk='72283';
"""

pd.read_sql(query, conn)

,row_id,studyidk,age,gender,patientweight,patientheight,findingcode,findingcodetext,conclusion,reasonforstudy,studylocation,modality,equipment
0,12393,72283,73,M,78,167,"LV-0062, LV-0067, LV-0078, LV-0087, LV-0145, R...",Ventrículo izquierdo de dimensiones normales. ...,AAI: 18.5cm2..AAD: 14.2cm2..Deformación global...,Protocolo CARTIER,,US,ECOCX50

# 2

Measurements from a study, known the study number:

In [6]:
query = """
select * 
from measurement_abstract_rpt
where studyid='72283';
"""

pd.read_sql(query, conn)

,row_id,studyid,measabstractnumber,name,value,unitname
0,328440.0,72283.0,499.0,VTS(MDD-ps2),48.877923,mL
1,328439.0,72283.0,498.0,VTS(el-ps2),48.245492,mL
2,328438.0,72283.0,497.0,DVIts ap2,7.816801,cm
3,328437.0,72283.0,496.0,AVIts ap2,21.048874,cm2
4,328436.0,72283.0,495.0,VTD(MDD-ps2),86.020235,mL
5,328435.0,72283.0,494.0,VTD(el-ps2),86.889356,mL
6,328434.0,72283.0,493.0,DVItd ap2,9.319913,cm
7,328433.0,72283.0,492.0,AVItd ap2,30.885575,cm2
8,328432.0,72283.0,491.0,Vmáx Dias. VPulm,73.138194,cm/s
9,328431.0,72283.0,490.0,Vmáx Sist. VPulm,62.028595,cm/s
10,328430.0,72283.0,489.0,V1 media VI,47.927477,cm/s
11,328429.0,72283.0,488.0,ITV V1 VI,13.802941,cm
12,328428.0,72283.0,487.0,GP med V1 VI,1.027038,mm[Hg]
13,328427.0,72283.0,486.0,V2 media Ao,122.294080,cm/s
14,328426.0,72283.0,485.0,ITV V2 Ao,33.569305,cm
15,328425.0,72283.0,484.0,GP med Ao,6.913828,mm[Hg]
16,328424.0,72283.0,483.0,Vel. E' pico med.,8.897937,cm/s
17,328423.0,72283.0,482.0,Vel. E' pico lat.,8.060484,cm/s
18,328422.0,72283.0,481.0,Vmáx A VM,69.974476,cm/s
19,328421.0,72283.0,480.0,Vmáx E VM,26.348414,cm/s
20,328420.0,72283.0,479.0,Vmáx RT,194.969505,cm/s
21,328419.0,72283.0,478.0,GP máx RT,15.205243,mm[Hg]
22,328418.0,72283.0,477.0,Vel S´ anillo tricuspide,9.944753,cm/s
23,328417.0,72283.0,476.0,TAPSE_xcelera,1.937677,cm
24,328416.0,72283.0,475.0,VTS(MDD-ps4),49.377875,mL
25,328415.0,72283.0,474.0,VTS(el-ps4),47.543737,mL
26,328414.0,72283.0,473.0,DVIts ap4,7.547376,cm
27,328413.0,72283.0,472.0,AVIts ap4,20.542989,cm2
28,328412.0,72283.0,471.0,VTD(MDD-ps4),115.959638,mL
29,328411.0,72283.0,470.0,VTD(el-ps4),118.257242,mL
...,...,...,...,...,...,...
65,328375.0,72283.0,171.0,IS(Teich),17.546004,mL/m2
66,328374.0,72283.0,169.0,IS(MDD-ps4),35.594207,mL/m2
67,328373.0,72283.0,168.0,IS(MDD-ps2),19.856054,mL/m2
68,328372.0,72283.0,167.0,IS(MDD-bp),35.092302,mL/m2
69,328371.0,72283.0,166.0,IS(el-ps4),37.803011,mL/m2
70,328370.0,72283.0,165.0,IS(el-ps2),20.658776,mL/m2
71,328369.0,72283.0,162.0,IS(cúbico),19.394183,mL/m2
72,328368.0,72283.0,159.0,IMC,27.968016,kg/m2
73,328367.0,72283.0,140.0,Grosor relativo pared,0.479141,{ratio}
74,328366.0,72283.0,137.0,GP med Ao (completo),5.886790,mm[Hg]
75,328365.0,72283.0,101.0,FE(Teich),42.452654,%
76,328364.0,72283.0,99.0,FE(MDD-ps4),57.418050,%
77,328363.0,72283.0,98.0,FE(MDD-ps2),43.178575,%
78,328362.0,72283.0,97.0,FE(MDD-bp),59.812321,%
79,328361.0,72283.0,96.0,FE(el-ps4),59.796342,%
80,328360.0,72283.0,95.0,FE(el-ps2),44.474797,%
81,328359.0,72283.0,92.0,FE(cúbico),49.985955,%
82,328358.0,72283.0,81.0,FA,20.622516,%
83,328357.0,72283.0,76.0,E/E'prom,3.107414,{ratio}
84,328356.0,72283.0,75.0,E/E'lat,3.268838,{ratio}
85,328355.0,72283.0,73.0,E/A VM,0.376543,1
86,328354.0,72283.0,72.0,DSIV/DPPVI,1.198559,1
87,328353.0,72283.0,71.0,Dif. % LVIts,4.889806,%
88,328352.0,72283.0,70.0,Dif. % LVItd,1.753229,%
89,328351.0,72283.0,57.0,"AVA(I,D)",1.508407,cm2
90,328350.0,72283.0,56.0,"AVA(I,A)",1.508407,cm2
91,328349.0,72283.0,55.0,ASC (Haycock),1.921470,m2
92,328348.0,72283.0,54.0,ASC,1.870579,m2
93,328347.0,72283.0,52.0,Area TSVI,3.668505,cm2
94,328346.0,72283.0,24.0,Altura (unidad métrica),167.000000,cm

# 3

Let us say that we want to know more information about the measurement with name ‘VTD(MDD-ps4)’. We would look at the measabstractnumber, which is 471, in the previous table and do the following query:

In [7]:
query = """
select * from a_measgraphref 
where studyidk='72283' 
and MeasAbstractNumber='471'; 
"""

pd.read_sql(query, conn)

,row_id,studyidk,measabstractnumber,meassequence,instanceidk,indexinmglist,value,howentered,srinstanceidk,imagesopinstanceuid,measurementuid
0,187959.0,72283.0,471.0,0.0,1435324,3.0,115.761799,0.0,,,
1,187960.0,72283.0,471.0,1.0,1435399,0.0,115.005655,0.0,,,
2,187961.0,72283.0,471.0,2.0,1435435,0.0,136.231109,0.0,,,
3,187962.0,72283.0,471.0,3.0,1435324,5.0,96.839989,0.0,,,

# 4

The measurement in the report comes from the average of 4 graphical measurements. Let us locate the SOPInstanceUID of the first measurement:

In [8]:
query = """
select * from a_instance 
where instanceidk='1435324';
"""

pd.read_sql(query, conn)

,row_id,instanceidk,studyseriesidk,sopclassuid,sopinstanceuid
0,204284.0,1435324.0,252178.0,1.2.840.10008.5.1.4.1.1.3.1 ...,1.3.46.670589.14.1000.311.2.100070.20151105115...

# 5

Now, let us see in which frame it was done:

In [9]:
query = """
select * from a_measgraphic 
where instanceidk='1435324'
and indexinmglist='3';
"""

pd.read_sql(query, conn)

,row_id,instanceidk,indexinmglist,frame,graphictoolidk,longaxisindex,measidk,loopidk,instancerecordtype
0,103483.0,1435324.0,3.0,88.0,5.0,-1.0,0.0,0.0,False

# 6

It was done on the frame 88. Now, let us see the coordinates of all the points drawn for that graphical measurement:

In [10]:
query = """
select * from a_measpoint1
where instanceidk='1435324'
and indexinmglist='3';
"""

pd.read_sql(query, conn)

,row_id,instanceidk,indexinmglist,pointsequence,nativex,nativey,pointtype
0,732361.0,1435324.0,3.0,0.0,563.0,353.0,False
1,732362.0,1435324.0,3.0,1.0,569.0,318.0,False
2,732363.0,1435324.0,3.0,2.0,549.0,249.0,False
3,732364.0,1435324.0,3.0,3.0,522.0,192.0,False
4,732365.0,1435324.0,3.0,4.0,494.0,152.0,False
5,732366.0,1435324.0,3.0,5.0,478.0,132.0,False
6,732367.0,1435324.0,3.0,6.0,459.0,124.0,False
7,732368.0,1435324.0,3.0,7.0,440.0,125.0,False
8,732369.0,1435324.0,3.0,8.0,428.0,138.0,False
9,732370.0,1435324.0,3.0,9.0,426.0,185.0,False
10,732371.0,1435324.0,3.0,10.0,442.0,258.0,False
11,732372.0,1435324.0,3.0,11.0,447.0,287.0,False
12,732373.0,1435324.0,3.0,12.0,443.0,314.0,False
13,732374.0,1435324.0,3.0,13.0,442.0,335.0,False
14,732375.0,1435324.0,3.0,14.0,443.0,344.0,False
15,732376.0,1435324.0,3.0,15.0,466.0,367.0,False
16,732377.0,1435324.0,3.0,16.0,514.0,360.0,True
17,732378.0,1435324.0,3.0,17.0,440.0,125.0,True
18,732379.0,1435324.0,3.0,18.0,524.0,359.0,True
19,732380.0,1435324.0,3.0,19.0,564.0,346.0,True
20,732381.0,1435324.0,3.0,20.0,463.0,364.0,True
21,732382.0,1435324.0,3.0,21.0,567.0,332.0,True
22,732383.0,1435324.0,3.0,22.0,453.0,354.0,True
23,732384.0,1435324.0,3.0,23.0,569.0,318.0,True
24,732385.0,1435324.0,3.0,24.0,443.0,344.0,True
25,732386.0,1435324.0,3.0,25.0,565.0,306.0,True
26,732387.0,1435324.0,3.0,26.0,442.0,331.0,True
27,732388.0,1435324.0,3.0,27.0,562.0,293.0,True
28,732389.0,1435324.0,3.0,28.0,443.0,317.0,True
29,732390.0,1435324.0,3.0,29.0,558.0,281.0,True
30,732391.0,1435324.0,3.0,30.0,445.0,304.0,True
31,732392.0,1435324.0,3.0,31.0,555.0,269.0,True
32,732393.0,1435324.0,3.0,32.0,447.0,290.0,True
33,732394.0,1435324.0,3.0,33.0,551.0,257.0,True
34,732395.0,1435324.0,3.0,34.0,445.0,277.0,True
35,732396.0,1435324.0,3.0,35.0,547.0,245.0,True
36,732397.0,1435324.0,3.0,36.0,443.0,264.0,True
37,732398.0,1435324.0,3.0,37.0,541.0,233.0,True
38,732399.0,1435324.0,3.0,38.0,441.0,252.0,True
39,732400.0,1435324.0,3.0,39.0,536.0,221.0,True
40,732401.0,1435324.0,3.0,40.0,438.0,239.0,True
41,732402.0,1435324.0,3.0,41.0,530.0,210.0,True
42,732403.0,1435324.0,3.0,42.0,435.0,227.0,True
43,732404.0,1435324.0,3.0,43.0,525.0,198.0,True
44,732405.0,1435324.0,3.0,44.0,432.0,214.0,True
45,732406.0,1435324.0,3.0,45.0,518.0,187.0,True
46,732407.0,1435324.0,3.0,46.0,430.0,202.0,True
47,732408.0,1435324.0,3.0,47.0,511.0,176.0,True
48,732409.0,1435324.0,3.0,48.0,427.0,189.0,True
49,732410.0,1435324.0,3.0,49.0,503.0,165.0,True
50,732411.0,1435324.0,3.0,50.0,426.0,176.0,True
51,732412.0,1435324.0,3.0,51.0,496.0,154.0,True
52,732413.0,1435324.0,3.0,52.0,427.0,162.0,True
53,732414.0,1435324.0,3.0,53.0,487.0,143.0,True
54,732415.0,1435324.0,3.0,54.0,428.0,149.0,True
55,732416.0,1435324.0,3.0,55.0,479.0,133.0,True
56,732417.0,1435324.0,3.0,56.0,431.0,134.0,True
57,732418.0,1435324.0,3.0,57.0,461.0,125.0,True

# 7

Alternatively, the table A_modvolume will give us very similar information for the volume measurements. This table might be relevant to combine the measurements in the 4 chamber and 2 chambers views:

In [11]:
query = """
select * from a_modvolume
where instanceidk='1435324'
and indexinmglist='3';
"""

pd.read_sql(query, conn)

,row_id,instanceidk,indexinmglist,chordsequence,chordtype,x1coordinate,y1coordinate,chordlength,x2coordinate,y2coordinate,interchorddistance
0,219892.0,1435324.0,3.0,0.0,Eje largo,514.000000,360.000000,9.772506,440.000000,125.000000,0.504572
1,219893.0,1435324.0,3.0,1.0,Disco,523.904360,358.642670,1.676047,564.208367,345.951195,0.504572
2,219894.0,1435324.0,3.0,2.0,Disco,463.368447,364.368447,4.293941,566.625100,331.853586,0.504572
3,219895.0,1435324.0,3.0,3.0,Disco,453.225728,354.225728,4.811938,568.938683,317.788457,0.504572
4,219896.0,1435324.0,3.0,4.0,Disco,443.083010,344.083010,5.086415,565.396327,305.567327,0.504572
5,219897.0,1435324.0,3.0,5.0,Disco,442.189148,331.027885,4.976277,561.853970,293.346197,0.504572
6,219898.0,1435324.0,3.0,6.0,Disco,442.833892,317.488264,4.802156,558.311613,281.125066,0.504572
7,219899.0,1435324.0,3.0,7.0,Disco,444.538535,303.614887,4.583959,554.769257,268.903936,0.504572
8,219900.0,1435324.0,3.0,8.0,Disco,446.611010,289.625682,4.350465,551.226900,256.682806,0.504572
9,219901.0,1435324.0,3.0,9.0,Disco,445.228358,276.724475,4.230464,546.958556,244.690285,0.504572
10,219902.0,1435324.0,3.0,10.0,Disco,443.047356,264.074662,4.092553,541.461206,233.084769,0.504572
11,219903.0,1435324.0,3.0,11.0,Disco,440.578723,251.515423,3.966603,535.963857,221.479254,0.504572
12,219904.0,1435324.0,3.0,12.0,Disco,437.844354,239.039863,3.851704,530.466508,209.873738,0.504572
13,219905.0,1435324.0,3.0,13.0,Disco,435.109984,226.564303,3.736806,524.969158,198.268223,0.504572
14,219906.0,1435324.0,3.0,14.0,Disco,432.375615,214.088743,3.580748,518.482061,186.974372,0.504572
15,219907.0,1435324.0,3.0,15.0,Disco,429.641245,201.613182,3.376352,510.832584,176.046548,0.504572
16,219908.0,1435324.0,3.0,16.0,Disco,426.906876,189.137622,3.171957,503.183107,165.118724,0.504572
17,219909.0,1435324.0,3.0,17.0,Disco,426.384445,175.965536,2.875578,495.533630,154.190900,0.504572
18,219910.0,1435324.0,3.0,18.0,Disco,426.959668,162.447807,2.504531,487.186268,143.482835,0.504572
19,219911.0,1435324.0,3.0,19.0,Disco,427.534890,148.930077,2.126207,478.663902,132.829878,0.504572
20,219912.0,1435324.0,3.0,20.0,Disco,431.322289,134.400854,1.246211,461.290003,124.964212,0.504572

# 8

If we want to do a query that gives the SOPInstanceUID of all files with a measurement with name ‘PPVItd’ made on them, we could do a query like:

In [12]:
# TODO: fix instanceidk datatype in table to avoid casting?
query = """
select a.studyid, a.name, c.SOPInstanceUID 
from measurement_abstract_rpt as a,
a_measgraphref as b,
a_instance as c
where a.name like 'PPVItd%%'
and a.studyid = b.studyidk
and a.measabstractnumber = b.measabstractnumber
and cast(b.instanceidk as text)=cast(c.instanceidk as text)
limit 5;
"""

pd.read_sql(query, conn)

,studyid,name,sopinstanceuid
0,3128.0,PPVItd,1.2.840.113543.6.6.4.6.62364515161054038564128...
1,3585.0,PPVItd,1.2.840.113543.6.6.4.6.67340051274116292783131...
2,5935.0,PPVItd,1.2.840.113543.6.6.4.6.64226181051140693318711...
3,5935.0,PPVItd,1.2.840.113543.6.6.4.6.63380522941308166704108...
4,6085.0,PPVItd,1.2.840.113543.6.6.4.6.61073932173195509389812...